html, body
  padding 0
  margin 0

body
  background #eee

li
  list-style none

a
  text-decoration none

#top
  .card
    margin 0 16px
    padding-left 8px
    background #fff
    box-shadow 2px 2px 2px rgba(0,0,0,0.3)
